/* =======================
   TABLET
======================= */

@media (min-width:768px) and (max-width:991.98px){

    section{
        padding:50px 0;
    }

    .banner-text h1{
        font-size:38px;
    }

    .banner-text span{
        font-size:16px;
    }

    #banner img{
        height:420px;
    }

    .navbar-nav{
        text-align:center;
    }

    .card{
        margin-bottom:20px;
    }

    .card-body{
        padding:20px;
    }

    #certificate img{
        height:180px;
    }

    #project img{
        height:220px;
    }

    .table{
        font-size:14px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {

    #footer {
        min-height: 100px;
        padding: 32px 0;
    }

    .footer-social {
        gap: 28px;
    }

    .footer-link {
        gap: 8px;
    }

    .social-circle {
        width: 23px;
        height: 23px;
    }

    .social-circle i {
        font-size: 13px;
        line-height: 1;
    }

    .social-text {
        display: inline;
        font-size: 12px;
        color: #999;
    }
}